<footer id="footer">
	<div class="container">

		<div class="row">

			<!-- col #1 -->
			<div class="col-md-8">

				<h3 class="letter-spacing-1">О проекте</h3>

				<!-- Small Description -->
				<p>
					Наш проект создан для того, чтобы помочь вам в вопросах строительства. На нашем портале вы найдёте материалы по строительству как частных домов, так и промышленных зданий и сооружений. Большое количество материалов посвящено строительным коммуникациям. Вот кратикий список тем, по которым у нас имеются статьи:
					<% Category.all.each do |c| %>
					 <%= c.name %>,
					<% end %>
				</p>
			</div>
			<!-- /col #1 -->

			<!-- col #2 -->
			<div class="col-md-4">
				<h3 class="letter-spacing-1">Подписка на новости</h3>

				<!-- Newsletter Form -->
				<p>Вы можете подписаться на наши новые статьи</p>

				<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" id="email" name="email" class="form-control required" placeholder="Введите ваш Email">
						<span class="input-group-btn">
							<button class="btn btn-success" type="submit">Подписаться</button>
						</span>
					</div>
				</form>
				<!-- /Newsletter Form -->

			</div>
			<!-- /col #2 -->

		</div>

	</div>

	<div class="copyright">
		<div class="container">
			<!--
			<ul class="pull-right nomargin list-inline mobile-block">
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li>&bull;</li>
				<li><a href="#">Privacy</a></li>
			</ul>
		-->
			&copy; При копировании информации ссылка на сайт обязательна.
		</div>
	</div>

</footer>

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>