			<section>
				<div class="container">
					
					<div class="row">
					
						<!-- LEFT -->
						<div class="col-md-9">
						
						<%= render "form" %>

						</div>
						<!-- /LEFT -->

						<%= render "/shared/column" %>

					</div>
					
				</div>
			</section>
			<!-- / -->
