

			<!-- Begin Content Section -->
			<section class="mt40 mb40">
				<div class="container">
				    <div class="row">

				   		<!-- Blog Posts -->
				    	<div class="col-sm-8">
				    		
							<h1>Изменить категорию</h1>
								<%= render 'form' %>
							<%= link_to 'Назад', :back %>


				        </div>

				        <%= render "/shared/column" %>
				    </div>
			    </div>
			</section><!-- /content -->
			<!-- End Content Section -->



